.header{
     margin-top: 30px;
     font-size: 50px;
     color: #2a976f;
     text-shadow: 2px 2px 5px rgb(95, 176, 196); /* Adding a subtle shadow for better visibility */
     letter-spacing: 2px; /* Slight spacing between letters for a modern look */
     font-family: 'Arial', sans-serif; /* Clean and modern font */
     padding: 20px 0; /* Add some vertical padding for better spacing */
     font-weight: bold; /* Make the font bolder for emphasis */
   }
   #language-select {
     font-size: 20px; /* Increases the text size */
     padding: 10px; /* Adds padding inside the dropdown */
     height: 50px; /* Increases the height of the dropdown */
     width: 200px; /* Adjusts the width of the dropdown */
     border-radius: 5px; /* Adds rounded corners */
     border: 1px solid #ccc; /* Adds a subtle border */
     background-color: #0f0202; /* Light background for better appearance */
     cursor: pointer; /* Pointer cursor on hover */
   }
   

   .custombutton:hover {
     background-color: #0cb300;
     transform: scale(1.1); /* Slightly scale the button */
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
     border-color: #0056b3; /* Change border color on hover */
   }
   
   /* Button Focus Effect */
   .custombutton:focus {
     border-color: #ffcc00; /* Yellow border on focus */
     outline: none; /* Remove default outline */
   }
   
   /* Button Active State */
   .custombutton:active {
     transform: scale(0.98); /* Slightly shrink the button when clicked */
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a smaller shadow when clicked */
   }
   .custombutton {
     padding: 12px 24px;
     background-color: #00ff2a;
     color: rgb(14, 13, 13);
     border: 7px solid transparent;
     border-radius: 9px;
     border-color: rgb(89, 209, 129);
     font-size: 1.8rem;
     font-weight: 400;
     cursor: pointer;

     outline: none;
     height: 80px;
     width:200px;
     transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease, border-color 0.3s ease;
   }
   .custombutton2 {

     padding: 12px 12px;
     background-color: #83b7eb;
     color: rgb(14, 13, 13);
     border: 4px solid transparent;
     border-radius: 9px;
     border-color: rgb(13, 15, 14);
     font-size: 1.8rem;
     font-weight: 400;
     cursor: pointer;
     margin-left: 26px;
     outline: none;
     height: 60px;
     width:190px;
     transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease, border-color 0.3s ease;
   }